@require '~vuepress-plugin-tabs/dist/themes/default.styl';

pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;

  & > code
    font-size: 14px !important;

    & > p
      margin: -5px 0 -20px 0;

    code
      background-color: #42b983 !important;
      padding: 3px 5px;
      border-radius: 3px;
      color: #000;

    em
      color: #808080;
      font-weight: light;

blockquote1
  font-size: 1rem;
  color: #999;
  border-left: .2rem solid rgba(100, 100, 100, .3);
  margin: 1rem 0;
  padding: .25rem 0 .25rem 1rem;

  & > p
    margin: 0;

.mermaid-diagram
  background-color: #eeffee;
  text-align: center;

.qq
  position: relative;

.qq::after
  content: '可撩';
  background: $accentColor;
  color: #fff;
  padding: 0 5px;
  border-radius: 10px;
  font-size: 12px;
  position: absolute;
  top: -4px;
  right: -35px;
  transform: scale(.85);

// demo模块图标颜色
body .vuepress-plugin-demo-block__wrapper
  &, .vuepress-plugin-demo-block__display
    border-color: rgba(160, 160, 160, .3);

  .vuepress-plugin-demo-block__footer:hover
    .vuepress-plugin-demo-block__expand::before
      border-top-color: $accentColor !important;
      border-bottom-color: $accentColor !important;

    svg
      fill: $accentColor !important;
