// 在交互页面一些自定义的样式

// 输出效果框
.web-output
  overflow-y: auto;
  border: 1px solid rgba(160, 160, 160, 0.3);

// 处理 el-input 长度限制显示遮挡问题
.el-textarea .el-input__count
  background-color: transparent
  bottom: -2.5em

// 浅色模式
.theme-mode-light
  .o-line-color
    border-color: #00323c
    color: #00323c
  strong
    color: #00323c

// 深色模式
.theme-mode-dark
  .o-line-color
    border-color: #acb7c4
    color: #acb7c4
  strong
    color: #acb7c4

// 阅读模式
.theme-mode-read
  .o-line-color
    border-color: #704214
    color: #704214
  strong
    color: #704214