// 在交互页面一些自定义的样式

// 输出效果框
.web-output
  overflow-y: auto;
  border: 1px solid rgba(160, 160, 160, 0.3);

// 处理 el-input 长度限制显示遮挡问题
.el-textarea .el-input__count
  background-color: transparent
  bottom: -2.5em

// 外部链接svg图片
.outbond-svg
  // 动态计算filter的网站：https://codepen.io/sosuke/pen/Pjoqqp ，通过修改filter改变svg颜色
  filter: invert(55%) sepia(59%) saturate(736%) hue-rotate(146deg) brightness(88%) contrast(88%);

// 浅色模式
.theme-mode-light
  .o-line-color
    border-color: #00323c
    color: #00323c
  strong
    color: #00323c

// 深色模式
.theme-mode-dark
  .o-line-color
    border-color: #acb7c4
    color: #acb7c4
  strong
    color: #acb7c4

  // 自定义 element 颜色
  // 单选框 文本颜色
  .el-radio.is-checked .el-radio__label
    color: #b160ea
  // 标签页样式
  .el-tabs__item
    color: #acb7c4
  .el-tabs__item.is-active
    color: #b160ea
    border-bottom: 0
  .el-tabs__nav-wrap::after
    background-color: #acb7c4

// 阅读模式
.theme-mode-read
  .o-line-color
    border-color: #704214
    color: #704214
  strong
    color: #704214